.list {
  height: 100%;
  width: 100%;
  overflow: auto;

  .separator {
    height: 1px;
    background: var(--shelf-separator);

    &:last-child {
      display: none;
    }
  }

  :global(.am-list-body) {
    background: transparent;

    &::after {
      display: none !important; // sass-lint:disable-line no-important
    }

    &::before {
      display: none !important; // sass-lint:disable-line no-important
    }
  }

  :global(.am-pull-to-refresh-content-wrapper) {
    overflow: initial;
  }
}

.item {
  display: flex;
  height: 50px;
  padding: 10px;
  background: var(--shelf-row);
}

.img {
  width: 38px;
  height: 50px;
}

.info {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.title {
  font-size: 15px;
  margin-right: 4px;
  font-weight: 400;
  color: var(--shelf-title);
}

.sub {
  font-size: 12px;
  color: var(--shelf-subTitle);
  font-weight: 100;
}

$flatten-badge: #49c6f1;

.flatten-badge {
  padding: 2px;
  display: inline-flex;
  background: $flatten-badge;
  font-size: 11px;
  color: #fff;
}

.first {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
