.container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  z-index: 5;
}

.hidden {
  display: none;
}

.header {
  background: var(--read-nav);
  height: 45px;
  display: flex;
  align-items: center;

  .back {
    color: #fff;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 15px;
  }
}

.content {
  background: transparent;
  flex: 1;
}

.footer {
  background: var(--read-nav);
  height: 3rem;
  display: flex;
  padding-bottom: env(safe-area-inset-bottom, 0);

  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex: 1;
    font-size: 12px;

    :global(.iconfont) {
      font-size: 18px;
    }
  }
}
