.container {
  padding: 20px;
  position: relative;
}

.light {
  background: #acc7a7;
}

.title {
  font-size: 16px;
  color: #576457;
  line-height: 24px;
}

.footer {
  position: absolute;
  bottom: 16px;
  right: 30px;
}

.content {
  font-size: 20px;
  word-wrap: break-word;
  word-break: break-all;
  line-height: 32px;
  // text-indent: 2em;
  text-align: justify;
  padding-top: 4px;
}
