:root {
  --black-color: #000;
  --read-list: #fff;
  --read-current: #db0019;
  --read-nav: rgba(0, 0, 0, .9);
}

.sunny {
  // screen-attr
  --read-container: #acc7a7;
  --read-title: rgba(0, 0, 0, .7);
  --read-text: rgba(0, 0, 0, .85);
  --read-footer: rgba(0, 0, 0, .85);

  --search-cancel: #000;

  --shelf-container: #e6e6e6;
  --shelf-separator: rgba(255, 255, 255, .2);
  --shelf-row: #fff;
  --shelf-title: rgba(0, 0, 0, 1);
  --shelf-subTitle: rgba(0, 0, 0, .8);

  --origin-item: #f2f2f2;
}

.night {
  --read-container: #0c0c0c;
  --read-title: rgba(255, 255, 255, .55);
  --read-text: rgba(255, 255, 255, .6);
  --read-footer: rgba(255, 255, 255, .55);

  --search-cancel: #fff;

  --shelf-container: #0c0c0c;
  --shelf-separator: rgba(255, 255, 255, .3);
  --shelf-row: #4b4b4b;
  --shelf-title: rgba(255, 255, 255, .75);
  --shelf-subTitle: rgba(255, 255, 255, .6);
}
