:root {
  --black-color: #000;
}

.sunny {
  // screen-attr
  --read-container: #acc7a7;
  --read-title: rgba(0, 0, 0, .7);
  --read-text: rgba(0, 0, 0, .85);
  --read-footer: rgba(0, 0, 0, .85);

  --shelf-container: #e6e6e6;
  --shelf-separator: rgba(255, 255, 255, .2);
  --shelf-row: rgba(255, 255, 255, .41);
  --shelf-title: rgba(0, 0, 0, 1);
  --shelf-subTitle: rgba(0, 0, 0, .8);
}

.night {
  --read-container: #0c0c0c;
  --read-title: rgba(255, 255, 255, .55);
  --read-text: rgba(255, 255, 255, .6);
  --read-footer: rgba(255, 255, 255, .55);

  --shelf-container: #0c0c0c;
  --shelf-separator: rgba(255, 255, 255, .3);
  --shelf-row: rgba(255, 255, 255, .11);
  --shelf-title: rgba(255, 255, 255, .75);
  --shelf-subTitle: rgba(255, 255, 255, .6);
}
