:root {
  --black-color: #000;
}

.sunny {
  // screen-attr
  --read-title: #576457;
  --read-container: #acc7a7;
  --read-text: #0d2a0f;
  --read-footer: #0d2a0f;

  --shelf-container: #e6e6e6;
  --shelf-loading: #000;
  --shelf-underlay: #eee;
  --shelf-row: #f2f2f2;
  --shelf-title: #000;
  --shelf-subTitle: #999;
  --shelf-solid: #d5d5d5;
}

.night {
  --read-title: #474747;
  --read-container: #0c0c0c;
  --read-text: #5b5b5b;
  --read-footer: #424242;

  --shelf-container: #282828;
  --shelf-underlay: #2d2d2d;
  --shelf-row: #282828;
  --shelf-title: #ddd;
  --shelf-subTitle: #646464;
  --shelf-solid: #1e1e1e;
}
