.hint {
  text-align: center;
  line-height: 30px;
  color: #bbb;
}

.item {
  display: flex;
  align-items: center;

  span {
    padding-left: 10px;
  }
}

.search {
  input {
    -webkit-user-select: auto; // sass-lint:disable-line no-vendor-prefixes
  }
}

.item + .item {
  border-top: 1px solid #f0f1f2;
}

:global(.am-search) {
  background: transparent;
}

:global(.am-search-cancel) {
  color: var(--search-cancel);
}
