.list {
  height: 100%;
  width: 100%;
  background: var(--asdbi, #d9d9d9);

  .separator {
    height: 1px;
    background: var(--shelf-separator);

    &:last-child {
      display: none;
    }
  }

  :global(.am-list-body) {
    background: transparent;

    &::after {
      display: none !important; // sass-lint:disable-line no-important
    }

    &::before {
      display: none !important; // sass-lint:disable-line no-important
    }
  }
}

.item {
  display: flex;
  align-items: center;
  background: #565656;

  span {
    padding-left: 10px;
  }
}

.current {
  color: #db0019;
}

.item + .item {
  border-top: 1px solid #969696;
}
