.item {
  display: flex;
  align-items: center;
  color: #33373d;

  span {
    padding-left: 10px;
  }
}

.current {
  color: var(--read-current);
}

.item + .item {
  border-top: 1px solid #f0f1f2;
}
