.box {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  touch-action: none;
}

:global {
  .adm-nav-bar {
    background-color: #000;
    color: #fff;
  }

}

.icon {
  height: 45px;
  padding-right: 10px;
}
